@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Medium.woff2') format('woff2'),
        url('assets/fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Bold.woff2') format('woff2'),
        url('assets/fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Book.woff2') format('woff2'),
        url('assets/fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Light.woff2') format('woff2'),
        url('assets/fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
