@font-face {
    font-family:'Barlow';
    src:url('../fonts/Barlow-Medium.ttf') format('ttf'),
    url('../fonts/Barlow-Medium.ttf') format('ttf');
    font-weight:500;
    font-style:normal;
}
@font-face {
    font-family:'Barlow';
    src:url('../fonts/Barlow-Bold.ttf') format('ttf'),
    url('../fonts/Barlow-Bold.ttf') format('ttf');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family:'Barlow';
    src:url('../fonts/Barlow-Regular.ttf') format('ttf'),
    url('../fonts/Barlow-Regular.ttf') format('ttf');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Barlow';
    src:url('../fonts/Barlow-Light.ttf') format('ttf'),
    url('../fonts/Barlow-Light.ttf') format('ttf');
    font-weight:300;
    font-style:normal;
}
